{
  "env": {
    "es2022": true,
    "node": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["run/**/*.js"],
      "extends": ["prettier"],
      "plugins": ["prettier"],
      "rules": {
        "prettier/prettier": [
          "error",
          {
            "printWidth": 160,
            "semi": false,
            "singleQuote": true,
            "trailingComma": "none"
          }
        ]
      }
    },
    {
      "files": ["source/**/*.ts"],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
      ],
      "parser": "@typescript-eslint/parser",
      "plugins": [
        "@typescript-eslint",
        "prettier"
      ],
      "rules": {
        "prettier/prettier": [
          "error",
          {
            "printWidth": 160,
            "semi": false,
            "singleQuote": true,
            "trailingComma": "none"
          }
        ]
      }
    },
    {
      "files": ["tests/**/*.js"],
      "env": {
        "jest": true
      },
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"]
    }
  ]
}
